*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
:root{
    --primary-text: #222222;
    --primary-background: #ECECEC;
}
.toggle{
    --primary-text:#C8C8C8;
    --primary-background:#1E1E1E;
}
body{
    color: var(--primary-text);
    background: var(--primary-background);
}
.hide{
    display: none;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
    
}
a{
    color: #000;
    text-decoration: none;
}
img{
    width: 50px;
}
body{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
/* start css editing  "2024 december 29 - time 9:30"*/ 
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    width: 400px;
    height: 100vh;
    max-width: 400px;
    min-width: auto;
    position: relative;
}
header{
   position: fixed;
   z-index: 80;
   left: 0;
   top: 0;
   width: 100%;
   height: 40px;
   background: #fff;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.head-content{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 5px;
}
.head-content .dod{
    width: 30px;
}
.head-content  .logo{
    width: 120px;
    height: 40px;
}
.search-content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.search-input{
    width: 0px;
    height: 33px;
    outline: none;
    background: #E3E6FF;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
    margin-bottom: 1px;
    margin-right: -1px;
    transition: all 0.6s;
    max-width: 200px;
    overflow: hidden;
}
.head-content  .search{
    width: 30px;
    position: absolute;
    right: 0;
    top: 2px;
}

.left-dropdown-menu{
    width: 0px;
    max-width: 300px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 1px 0 1000px rgba(0, 0, 0, 0.7);
    transition: all 0.6s;
    overflow: hidden;
}
.dropdown{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.dropdown-close{
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 2em;
    color: #000;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.point-list{
    margin-top: 20px;
    margin-left: 10px;
}
.point{
    width: 20px;
    transform: rotate(-90deg);
}
.point-income{
    width: 20px;
}
.point-list-p{
    padding: 10px;
}

/* main body edit start */

.st-section{
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: #113AAA;
    color: #fff;
}
section{
    margin-top: 10px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.new-text{
    
}
.new-text .new-text-add{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1em;
}
.new-text-ad{
    width: 35px!important;
}
table{
    width: 100%;
}
th{
    text-align: center;
    padding: 2px;
    font-size: 1em;
    font-weight: bolder;
}
td{
    text-align: center;
    padding: 1px;
    font-size: 0.9em;
}
/* add new ditails page design */

.add-new-ditails{
    width: 100%;
    height: /*350px*/0px;
    max-height: 350px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    position: absolute;
    overflow: hidden;
    transition: all 0.7s;
    margin-top: -55px;
    z-index: 50;
}
.cancel{
    width: 80px!important;
    height: 25px!important;
    border-radius: 5px!important;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.9em;
    background: #FF4646;
    color: #fff;
    padding: 1px 2px;
    
}
.cancel .cancel-img{
    width: 20px;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
}
form{
    margin-top: 60px;
}
.new-ditails{
    padding: 10px;
    position: relative;
}
.add-new-ditails .new-ditails input{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #000;
    outline: none;
    font-size: 1em;
    color: var(--primary-text);
    background: var(--primary-background);
    margin-top: 10px;
    padding: 0 20px 0 10px;
}
.new-ditails button{
    width: 40%;
    height: 35px;
    margin-left: 20px;
    margin-top: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.reset-btn{
    background: #950D3A;
    color: #fff;
}
.save-btn{
    background: #113AAA;
    color: #fff;
}